menu "Mqtt Configurations"
    config EXAMPLE_MQTT_Broker
        string "URI of Broker"
        default "mqtt://193.174.24.220:1883"

    config EXAMPLE_MQTT_TOPIC_FIRST
        string "First Topic you want to subscribe to"
        default "monitoring-system/sound_sensor"

    config EXAMPLE_MQTT_TOPIC_SECOND
        string "First Topic you want to subscribe to"
        default "monitoring-system/motion_sensor"
endmenu